<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sivaperumal.apartmentdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.ServicesDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.HouseKeepingActivity"
            android:noHistory="true"/>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.LaundryDetailsActivity"
            android:noHistory="true"/>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.PlumberDetailsActivity"
            android:noHistory="true"/>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.ElectricianDetailsActivity"
            android:noHistory="true"/>
        <activity
            android:name="com.example.sivaperumal.apartmentdb.Activity.ServicesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.TenantDashboardActivity" />
        <activity
            android:name="com.example.sivaperumal.apartmentdb.Activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sivaperumal.apartmentdb.Activity.MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.sivaperumal.apartmentdb.Activity.TenantLoginActivity" />
        <activity
            android:name="com.example.sivaperumal.apartmentdb.Activity.OwnerLoginActivity" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.OwnerDashboardActivity" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.flatlist" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.tenantlist" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.EditTenantDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sivaperumal.apartmentdb.Activity.OwnerDashboardActivity" />
        </activity>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.EditFlatDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sivaperumal.apartmentdb.Activity.OwnerDashboardActivity" />
        </activity>
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.TenantView" />
        <activity android:name="com.example.sivaperumal.apartmentdb.Activity.FlatView" />
    </application>

</manifest>