<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roshan.apartmentdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ServicesDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Activity.HouseKeepingActivity" />
        <activity android:name=".Activity.LaundryDetailsActivity" />
        <activity android:name=".Activity.PlumberDetailsActivity" />
        <activity android:name=".Activity.ElectricianDetailsActivity" />
        <activity
            android:name=".Activity.ServicesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Activity.TenantDashboardActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.TenantLoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".Activity.OwnerLoginActivity"
            android:noHistory="true" />
        <activity android:name=".Activity.OwnerDashboardActivity" />
        <activity android:name=".Activity.flatlist" />
        <activity android:name=".Activity.tenantlist" />
        <activity android:name=".Activity.EditTenantDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.roshan.apartmentdemo.Activity.OwnerDashboardActivity" />
        </activity>
        <activity android:name=".Activity.EditFlatDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.roshan.apartmentdemo.Activity.OwnerDashboardActivity" />
        </activity>
        <activity android:name=".Activity.TenantView" />
        <activity android:name=".Activity.FlatView" />
    </application>

</manifest>